<div class="container">
<h1>Fruit Basket</h1>
  <div class="raw-data"><%= @fruits %></div>
  <br>
  <%= link_to "Order by Name - #{@order}", basket_case_order_by_fruit_path(order: @order), class: "button"%>
  <%= link_to "Order by Amount - #{@order}", basket_case_order_by_amount_path(order: @order), class: "button"%>

  <table class="fruit-table">
    <thead>
      <tr>
        <th>Fruit</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @list_items.each do |fruit, amount| %>
        <tr>
          <td><%= fruit.to_s.titleize %></td>
          <td><%= amount  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
