<h1>Fruit Basket</h1>
<span class="data">raw data: <%= @fruits %></span>
<br />
<%= link_to "Order by Name - #{@order}", basket_case_order_by_fruit_path(order: @order), class: "button"%>
<%= link_to "Order by Amount - #{@order}", basket_case_order_by_amount_path(order: @order), class: "button"%>

<div class="container">
<%- @list_items.each do |fruit, amount| %>
  <p><%= fruit %> : <%= amount %></p>
<% end %>
</div>