<h1>Fruit Basket</h1>
<span class="data">raw data: <%= @fruits %></span>
<br />
<%= link_to "Order by Name - #{@order}", basket_case_order_by_fruit_path(order: @order), class: "button"%>
<%= link_to "Order by Amount - #{@order}", basket_case_order_by_amount_path(order: @order), class: "button"%>

<div class="container" style="margin-top: 2rem;">
<!-- code here !-->
  <table>
    <thead>
      <th> Fruit </th>
      <th> Quantity </th>
    </thead>
    <tbody>
      <% @fruits.each do |name, qty| %>
        <tr>
          <td>
            <%= name %>
          </td>
          <td>
            <%= qty %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
