<!DOCTYPE html>
<html>
  <head>
    <title>MgTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .btn-sort-by-name {
        background-color: #dc2f2f;
      }
      .btn-sort-by-name:hover {
        background-color: #dc2f2f;
      }
      .btn-sort-by-amount {
        background-color: #402a23;
      }
      .btn-sort-by-amount:hover{
        background-color: #2c2d34;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
